* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 160px 42px;
}

.img-logo {
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    margin-right: 96.83px;
    display: inline-block;

}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-left: 32px;
}

.button-header {
    margin-left: 32px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

h1 {
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;

}

p {
    width: 493px;
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;

}

section {
    display: inline-block;

}

.button-section {
    width: 112px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 55px;
    letter-spacing: 1px;


}